<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Portfolio</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>

<h1>Portfolio</h1>

<ul>
    <li><a href="/">Početna</a></li>
    <li><a href="/portfolio">Portfolio</a></li>
</ul>
<h2>Moji radovi:</h2>


<ol>
    <li><a href="/static/portfolio/fakebook/Fakebook.html">Fakebook projekt</a></li>
    <li><a href="/static/portfolio/google/Google.html">Google projekt</a></li>
    <li><a href="/static/portfolio/bootstrap/index.html">Bootstrap projekt</a></li>
    <li><a href="/static/portfolio/frizerski_salon/Frizeraj.html">Frizerski salon projekt</a></li>

</ol>

</body>
</html>